
* {
    box-sizing: border-box;
    transition: all 0.3s ease;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    height: 100vh;
    min-height: 100vh;
}

main {
    display: block;
    flex-direction: column;
    margin: auto;
    padding: 30px;
    overflow: hidden;
    width: 100%;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
}

/* FOOTER */
.attribution {
    position: relative;
    bottom: 0;
    margin-bottom: 0px;
    padding: 15px;
    width: 100%;
} 